<h1 class="content-title general-padding">Bienvenidos a mi libreria</h1>
<article>
    <h2>Destacados</h2>
    <p>En un futuro dispondremos de una tienda online en la cual podais comprar todos los libros de nuestro
        catálogo..</p>
    <div class="catalogo-libros">
        <article class="book-entry">
            <img src="img/crimen.jpeg" alt="Crimen y castigo">
            <h3>Crimen y castigo</h3>
            <p>Ramón del Valle-Inclán</p>
            <p>EDITORIAL PORRÚA</p>
            <h2>18,40€</h2>
            <a href="procesar.php" class="my-button">Comprar</a>
        </article>
        <article class="book-entry">
            <img src="img/bohemia.jpeg" alt="Luces de bohemia">
            <h3>Luces de bohemia</h3>
            <p>Ramón del Valle-Inclán</p>
            <p>DEBOLSILLO</p>
            <h2>17,30€</h2>
            <a href="procesar.php" class="my-button">Comprar</a>
        </article>
        <article class="book-entry">
            <img src="img/preludio.jpeg" alt="Preludio a la Fundación">
            <h3>Preludio a la Fundación</h3>
            <p>Isaac Asimov</p>
            <p>CIRCULO LECTORES</p>
            <h2>19,70€</h2>
            <a href="procesar.php" class="my-button">Comprar</a>
        </article>
        <article class="book-entry">
            <img src="img/espiritus.jpeg" alt="La casa de los espíritus">
            <h3>La casa de los espíritus</h3>
            <p>Isabel Allende</p>
            <p>GALAXIA GUTENBERG</p>
            <h2>16,30€</h2>
            <a href="procesar.php" class="my-button">Comprar</a>
        </article>
        <article class="book-entry">
            <img src="img/borrascosas.jpeg" alt="Cumbres borrascosas">
            <h3>Cumbres borrascosas</h3>
            <p>Emily Brontë</p>
            <p>Alba Minus</p>
            <h2>15,00€</h2>
            <a href="procesar.php" class="my-button">Comprar</a>
        </article>
    </div>
</article>