<h1 class="content-title general-padding">Bienvenidos a mi libreria</h1>
<section>
    <h2>Próximos eventos</h2>
    <p>Le mostramos los próximos eventos que ofrecemos en las distintas ciudades.</p>

    <article class="evento">
        <h3>Próxima apertura..</h3>
        <p>Realizaremos una nueva apertura en Granada, en la calle Santa Clara nº3, no te pierdas nuestra fiesta de
            inauguración.</p>
    </article>
    <article class="evento">
        <h3>Firma de libros</h3>
        <p>No dejes escapar la visita del famoso escritor Pepito Pérez a nuestra tienda de Sevilla, aprovecha para que
            te firme tu libro!</p>
    </article>
    <article class="evento">
        <h3>Firma autógrafos</h3>
        <p>Nos visita la famosa escritora Eruldina Jiménez en nuestra nueva tienda de Granada!</p>
    </article>
</section>