<h1 class="content-title general-padding">Pedidos</h1>
<section id="datos-libro" class=" general-padding">
    <h2>Datos del libro</h2>
    <div class="row">
        <div class="book-attribute col-100">
            <label for="titulo">Titulo</label>
            <input id="titulo" type="text" name="titulo" disabled="">
        </div>
    </div>
    <div class="row">
        <div class="book-attribute col-50">
            <label for="autor">Autor</label>
            <input id="autor" type="text" name="autor" disabled="">
        </div>
        <div class="book-attribute col-50">
            <label for="editorial">Editorial</label>
            <input id="editorial" type="text" name="titulo" disabled="">
        </div>

    </div>

    <div class="row">
        <div class="book-attribute col-50">
            <label for="isbn">ISBN</label>
            <input id="isbn" type="text" name="isbn" disabled="">
        </div>
        <div class="book-attribute col-50">
            <label for="anio">Año</label>
            <input id="anio" type="text" name="anio" disabled="">
        </div>
    </div>
    <h3>Sinopsis</h3>
    <p>Sinopsis de prueba. </p>
</section>
<section id="datos-pedido">
    <h2>Datos del pedido</h2>
    <form action="procesar.php" method="post">
        <div class="row">
            <div class="col-10">
                <label for="name">Nombre y apellidos</label>
            </div>
            <div class="col-75">
                <input type="text" id="name" name="aunametor" placeholder="Nombre y apellidos..">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <label for="direccion">Dirección de envío</label>
            </div>
            <div class="col-75">
                <input type="text" id="direccion" name="direccion" placeholder="Dirección..">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <label for="email">E-mail</label>
            </div>
            <div class="col-75">
                <input type="text" id="email" name="email" placeholder="Email..">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <label for="numtarj">Número de tarjeta</label>
            </div>
            <div class="col-75">
                <input type="text" id="numtarj" name="numtarj" placeholder="Número de tarjeta..">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <label for="caducity">Fecha de caducidad</label>
            </div>
            <div class="col-35">
                <input type="date" id="caducity" name="caducity">
            </div>
            <div id="cvc-payment" class="col-10">
                <label for="cvc">CVC</label>
            </div>
            <div class="col-35">
                <input type="number" id="cvc" name="cvc" placeholder="CVC..">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <label>Marque si procede</label>
            </div>
            <div class="col-75">
                <div id="procede-div">
                    <label><input type="checkbox" name="leido" value="le">He leido y acepto las condiciones
                        de compra</label>
                    <label><input type="checkbox" name="recibir" value="re">Deseo recibir información sobre
                        novedades</label>
                    <label><input type="checkbox" name="envuelto" value="en" checked="">Deseo el envío envuelto
                        para regalo</label>
                </div>
            </div>
        </div>
        <input class="my-button" type="submit" value="Hacer pedido">
    </form>
</section>