<div id="contenido">
    <main id="content-izq" class="general-padding">
        <h1 class="content-title general-padding">Búsqueda</h1>
        <article id="search-content">
            <h3>Busca en nuestra colección de libros.</h3>
            <form action="procesar.php" method="post">
                <div class="row">
                    <div class="col-10">
                        <label for="autor">Autor</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="autor" name="autor" placeholder="Autor..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="titulo">Título</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="titulo" name="titulo" placeholder="Titulo..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="isbn">ISBN</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="isbn" name="isbn" placeholder="ISBN..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label>Precio</label>
                    </div>
                    <div class="col-75">
                        <div class="price-range">
                            <span>entre </span> <input type="number" name="price-min"> <span> y </span><input
                                type="number" name="price-max">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="genre">Género</label>
                    </div>
                    <div class="col-75">
                        <select id="genre" name="genre">
                            <option selected="">- elije el género -</option>
                            <option value="bel">- Bélico -</option>
                            <option value="ave">- Aventuras -</option>
                            <option value="rom">- Romance -</option>
                            <option value="fan">- Fantástico -</option>
                            <option value="ter">- Terror -</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label>Subject</label>
                    </div>
                    <div class="col-75">
                        <div class="encuads">
                            <label><input type="radio" name="encuad" value="td">Tapa dura</label>
                            <label><input type="radio" name="encuad" value="tb">Tapa blanda</label>
                            <label><input type="radio" name="encuad" value="cq" checked="">Cualquiera</label>
                        </div>
                    </div>
                </div>
                <input class="my-button" type="submit" value="Buscar">
            </form>
        </article>
    </main>
    <aside id="content-der" class="general-padding">
        <article>
            <h3>Mas vendidos</h3>
            <ul>
                <li>El quijote</li>
                <li>Ulises</li>
                <li>Arguiñano cocina</li>
            </ul>
        </article>
        <article>
            <h3>Mas populares</h3>
            <ul>
                <li>Charles Dickens</li>
                <li>Julio Verne</li>
                <li>Edgar Allan Poe</li>
            </ul>
        </article>
    </aside>
</div>