<footer class="general-padding">
    <div id="footer-left" class="general-padding">
        <ul>
            <li>
                <h2>Granada</h2>
            </li>
            <li>
                <ul>
                    <li>Reyes Católicos (555 112233)</li>
                    <li>Avda Dilar (555 332211)</li>
                </ul>
            </li>
            <li>
                <h2>Malaga</h2>
            </li>
            <li>
                <ul>
                    <li>Marques de Larios (555 221133)</li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="footer-middle" class="general-padding">
        <div id="footer-contact">
            <a href="mailto:juane_619@hotmail.com">juane_619@hotmail.com</a>
            <ul id="footer-rss">
                <li> <a class="fa-icon footer-icon" href="https://facebook.com"></a></li>
                <li> <a class="tw-icon footer-icon" href="https://facebook.com"></a></li>
                <li> <a class="pi-icon footer-icon" href="https://facebook.com"></a></li>
                <li> <a class="rs-icon footer-icon" href="https://facebook.com"></a></li>
            </ul>
        </div>
    </div>
    <div id="footer-right" class="general-padding">
        <ul>
            <li><a href="index.html">La empresa</a></li>
            <li><a href="index.html">Politica del sitio</a></li>
            <li><a href="index.html">Preguntas frecuentes</a></li>
            <li><a href="index.html">Mapa del sitio</a></li>
        </ul>
    </div>
</footer>