<div id="contenido">
    <main id="content-izq" class="general-padding">
        <h1 class="content-title general-padding">Tiendas</h1>
        <article id="shop-content">
            <h3>Listado de tiendas por ciudades</h3>
            <table>
                <thead>
                    <tr>
                        <th>Ciudad</th>
                        <th>Dirección postal</th>
                        <th>Teléfono</th>
                        <th>Abierto fin de semana</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">Granada</td>
                        <td>Calle margarita</td>
                        <td>958664490</td>
                        <td>Si</td>
                    </tr>
                    <tr>
                        <td>Calle Alamo</td>
                        <td>689585854</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Madrid</td>
                        <td>Calle de las Aguas</td>
                        <td>325457471</td>
                        <td>Si</td>
                    </tr>
                    <tr>
                        <td>Barcelona</td>
                        <td>Calle Almeria</td>
                        <td>685854125</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </main>

    <aside id="content-der" class="general-padding">
        <article>
            <h3>Mas vendidos</h3>
            <ul>
                <li>El quijote</li>
                <li>Ulises</li>
                <li>Arguiñano cocina</li>
            </ul>
        </article>
        <article>
            <h3>Mas populares</h3>
            <ul>
                <li>Charles Dickens</li>
                <li>Julio Verne</li>
                <li>Edgar Allan Poe</li>
            </ul>
        </article>
    </aside>
</div>