<div id="contenido">
    <main id="content-izq" class="general-padding">
        <h1 class="content-title general-padding">Titulo inicio</h1>
        <article>
            <h2>Titulo del articulo dentro de la seccion principal</h2>
            <p>INICIO</p>
        </article>
        <article>
            ...
        </article>
    </main>
    <aside id="content-der" class="general-padding">
        <article>
            <h3>Mas vendidos</h3>
            <ul>
                <li>El quijote</li>
                <li>Ulises</li>
                <li>Arguiñano cocina</li>
            </ul>
        </article>
        <article>
            <h3>Mas populares</h3>
            <ul>
                <li>Charles Dickens</li>
                <li>Julio Verne</li>
                <li>Edgar Allan Poe</li>
            </ul>
        </article>
    </aside>
</div>