<!DOCTYPE html>
<html lang="es">

<head>
    <title>##PAGE_TITLE##</title>
    <meta charset="UTF-8">
    <meta name="author" content="JuanE García">
    <base href="">
    <link rel="stylesheet" title="adaptable" href="css/styles.css" />
    <meta name="viewport" content="width=device-width"> <!-- Para diseño adaptable -->
</head>

<body>
    <header>
        <div id="head_izq">
            <img src="img/logo-libro.png" alt="El lector de libros" />
        </div>

        <div id="head_der">
            <h1>El lector de Libros</h1>
            <h3>Contando historias desde hace 100 años</h3>
        </div>
    </header>